# ===============================================================
# BACKEND
# ===============================================================
backend/node_modules
backend/.env.local

# ===============================================================
# CLIENT
# ===============================================================
client/node_modules
